[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
advbumpversion = "*"
bandit = "*"
black = ">=19.*"
isort = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
requests-mock = "*"

[packages]
beautifulsoup4 = "*"
click = "*"
readability-lxml = "*"
requests = "*"

[requires]
python_version = "3.6"
